<a href="https://colab.research.google.com/github/ramachandra742/Machine-Learning-Projects-Jupyter/blob/master/ASHRAE_Great_Energy_Predictor_III_LGBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Load the datasets from kaggle**

In [10]:
from google.colab import files
uploaded_json=files.upload()                  #Upload kaggle API json file

Saving kaggle.json to kaggle.json

In [0]:
!pip install -q kaggle        #install kaggle API

In [0]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/         #move kaggle json file to /.kaggle

In [13]:
!ls                    #list directory

kaggle.json  sample_data

In [0]:

!chmod 600 /root/.kaggle/kaggle.json

In [15]:
!kaggle competitions download -c ashrae-energy-prediction

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading test.csv.zip to /content
 97% 161M/167M [00:03<00:00, 61.0MB/s]
100% 167M/167M [00:03<00:00, 56.9MB/s]
Downloading weather_test.csv.zip to /content
  0% 0.00/2.53M [00:00<?, ?B/s]
100% 2.53M/2.53M [00:00<00:00, 171MB/s]
Downloading train.csv.zip to /content
 94% 113M/120M [00:02<00:00, 41.7MB/s]
100% 120M/120M [00:02<00:00, 47.0MB/s]
Downloading weather_train.csv.zip to /content
  0% 0.00/1.27M [00:00<?, ?B/s]
100% 1.27M/1.27M [00:00<00:00, 179MB/s]
Downloading sample_submission.csv.zip to /content
 94% 83.0M/88.4M [00:01<00:00, 50.4MB/s]
100% 88.4M/88.4M [00:01<00:00, 50.9MB/s]
Downloading building_metadata.csv to /content
  0% 0.00/44.5k [00:00<?, ?B/s]
100% 44.5k/44.5k [00:00<00:00, 39.7MB/s]

In [16]:
!unzip \*.zip

Archive:  weather_train.csv.zip
  inflating: weather_train.csv

Archive:  train.csv.zip
  inflating: train.csv

Archive:  test.csv.zip
  inflating: test.csv

Archive:  sample_submission.csv.zip
  inflating: sample_submission.csv

Archive:  weather_test.csv.zip
  inflating: weather_test.csv

5 archives were successfully processed.

Read the datasets

In [0]:
#Selected columns 
metadata_cols=['site_id','building_id','primary_use','square_feet','floor_count']
weather_cols=['site_id','timestamp','air_temperature','dew_temperature','sea_level_pressure','wind_direction','wind_speed']

In [0]:
import pandas as pd
train_df=pd.read_csv('train.csv',na_values='NaN')
test_df=pd.read_csv('test.csv',na_values='NaN')
weather_train=pd.read_csv('weather_train.csv',na_values='NaN',usecols=weather_cols)
weather_test=pd.read_csv('weather_test.csv',na_values='NaN',usecols=weather_cols)
building_metadata=pd.read_csv('building_metadata.csv',na_values='NaN',usecols=metadata_cols)

Lets explore the datasets

In [19]:
train_df.head()

   building_id  meter            timestamp  meter_reading
0            0      0  2016-01-01 00:00:00            0.0
1            1      0  2016-01-01 00:00:00            0.0
2            2      0  2016-01-01 00:00:00            0.0
3            3      0  2016-01-01 00:00:00            0.0
4            4      0  2016-01-01 00:00:00            0.0

In [20]:
train_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20216100 entries, 0 to 20216099
Data columns (total 4 columns):
building_id      int64
meter            int64
timestamp        object
meter_reading    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 1.9 GB

In [21]:
test_df.head()

   row_id  building_id  meter            timestamp
0       0            0      0  2017-01-01 00:00:00
1       1            1      0  2017-01-01 00:00:00
2       2            2      0  2017-01-01 00:00:00
3       3            3      0  2017-01-01 00:00:00
4       4            4      0  2017-01-01 00:00:00

In [22]:
test_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41697600 entries, 0 to 41697599
Data columns (total 4 columns):
row_id         int64
building_id    int64
meter          int64
timestamp      object
dtypes: int64(3), object(1)
memory usage: 3.9 GB

In [23]:
weather_train.head()

   site_id            timestamp  ...  wind_direction  wind_speed
0        0  2016-01-01 00:00:00  ...             0.0         0.0
1        0  2016-01-01 01:00:00  ...            70.0         1.5
2        0  2016-01-01 02:00:00  ...             0.0         0.0
3        0  2016-01-01 03:00:00  ...             0.0         0.0
4        0  2016-01-01 04:00:00  ...           250.0         2.6

[5 rows x 7 columns]

In [24]:
weather_train.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139773 entries, 0 to 139772
Data columns (total 7 columns):
site_id               139773 non-null int64
timestamp             139773 non-null object
air_temperature       139718 non-null float64
dew_temperature       139660 non-null float64
sea_level_pressure    129155 non-null float64
wind_direction        133505 non-null float64
wind_speed            139469 non-null float64
dtypes: float64(5), int64(1), object(1)
memory usage: 16.5 MB

In [25]:
weather_test.head()

   site_id            timestamp  ...  wind_direction  wind_speed
0        0  2017-01-01 00:00:00  ...           100.0         3.6
1        0  2017-01-01 01:00:00  ...           130.0         3.1
2        0  2017-01-01 02:00:00  ...           140.0         3.1
3        0  2017-01-01 03:00:00  ...           140.0         3.1
4        0  2017-01-01 04:00:00  ...           130.0         2.6

[5 rows x 7 columns]

In [26]:
weather_test.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277243 entries, 0 to 277242
Data columns (total 7 columns):
site_id               277243 non-null int64
timestamp             277243 non-null object
air_temperature       277139 non-null float64
dew_temperature       276916 non-null float64
sea_level_pressure    255978 non-null float64
wind_direction        264873 non-null float64
wind_speed            276783 non-null float64
dtypes: float64(5), int64(1), object(1)
memory usage: 32.8 MB

In [27]:
building_metadata.head()

   site_id  building_id primary_use  square_feet  floor_count
0        0            0   Education         7432          NaN
1        0            1   Education         2720          NaN
2        0            2   Education         5376          NaN
3        0            3   Education        23685          NaN
4        0            4   Education       116607          NaN

In [28]:
building_metadata.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1449 entries, 0 to 1448
Data columns (total 5 columns):
site_id        1449 non-null int64
building_id    1449 non-null int64
primary_use    1449 non-null object
square_feet    1449 non-null int64
floor_count    355 non-null float64
dtypes: float64(1), int64(3), object(1)
memory usage: 144.2 KB

In [29]:
#Prepare train dataset

df_train=train_df.merge(building_metadata,on='building_id',how='left')
df_train=df_train.merge(weather_train,on=['site_id','timestamp'],how='left')
df_train.head()

   building_id  meter  ... wind_direction  wind_speed
0            0      0  ...            0.0         0.0
1            1      0  ...            0.0         0.0
2            2      0  ...            0.0         0.0
3            3      0  ...            0.0         0.0
4            4      0  ...            0.0         0.0

[5 rows x 13 columns]

In [0]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df_train['primary_use']=le.fit_transform(df_train['primary_use'])

In [31]:
df_train.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20216100 entries, 0 to 20216099
Data columns (total 13 columns):
building_id           int64
meter                 int64
timestamp             object
meter_reading         float64
site_id               int64
primary_use           int64
square_feet           int64
floor_count           float64
air_temperature       float64
dew_temperature       float64
sea_level_pressure    float64
wind_direction        float64
wind_speed            float64
dtypes: float64(7), int64(5), object(1)
memory usage: 3.4 GB

In [32]:
import gc
del train_df,weather_train
gc.collect()

0

**Reduce the memory usage for train dataset**

In [0]:
import numpy as np
def reduce_mem_usage(df):
    start_mem_usg = df.memory_usage().sum() / 1024**2 
    print("Memory usage of properties dataframe is :",start_mem_usg," MB")
    NAlist = [] # Keeps track of columns that have missing values filled in. 
    for col in df.columns:
        if df[col].dtype != object:  # Exclude strings            
            # Print current column type
            print("******************************")
            print("Column: ",col)
            print("dtype before: ",df[col].dtype)            
            # make variables for Int, max and min
            IsInt = False
            mx = df[col].max()
            mn = df[col].min()
            print("min for this col: ",mn)
            print("max for this col: ",mx)
            # Integer does not support NA, therefore, NA needs to be filled
            if not np.isfinite(df[col]).all(): 
                NAlist.append(col)
                df[col].fillna(mn-1,inplace=True)  
                   
            # test if column can be converted to an integer
            asint = df[col].fillna(0).astype(np.int64)
            result = (df[col] - asint)
            result = result.sum()
            if result > -0.01 and result < 0.01:
                IsInt = True            
            # Make Integer/unsigned Integer datatypes
            if IsInt:
                if mn >= 0:
                    if mx < 255:
                        df[col] = df[col].astype(np.uint8)
                    elif mx < 65535:
                        df[col] = df[col].astype(np.uint16)
                    elif mx < 4294967295:
                        df[col] = df[col].astype(np.uint32)
                    else:
                        df[col] = df[col].astype(np.uint64)
                else:
                    if mn > np.iinfo(np.int8).min and mx < np.iinfo(np.int8).max:
                        df[col] = df[col].astype(np.int8)
                    elif mn > np.iinfo(np.int16).min and mx < np.iinfo(np.int16).max:
                        df[col] = df[col].astype(np.int16)
                    elif mn > np.iinfo(np.int32).min and mx < np.iinfo(np.int32).max:
                        df[col] = df[col].astype(np.int32)
                    elif mn > np.iinfo(np.int64).min and mx < np.iinfo(np.int64).max:
                        df[col] = df[col].astype(np.int64)    
            # Make float datatypes 32 bit
            else:
                df[col] = df[col].astype(np.float32)
            
            # Print new column type
            print("dtype after: ",df[col].dtype)
            print("******************************")
    # Print final result
    print("___MEMORY USAGE AFTER COMPLETION:___")
    mem_usg = df.memory_usage().sum() / 1024**2 
    print("Memory usage is: ",mem_usg," MB")
    print("This is ",100*mem_usg/start_mem_usg,"% of the initial size")
    return df, NAlist

In [34]:
df_train,NAlist=reduce_mem_usage(df_train)

Memory usage of properties dataframe is : 2159.3124389648438  MB
******************************
Column:  building_id
dtype before:  int64
min for this col:  0
max for this col:  1448
dtype after:  uint16
******************************
******************************
Column:  meter
dtype before:  int64
min for this col:  0
max for this col:  3
dtype after:  uint8
******************************
******************************
Column:  meter_reading
dtype before:  float64
min for this col:  0.0
max for this col:  21904700.0
dtype after:  float32
******************************
******************************
Column:  site_id
dtype before:  int64
min for this col:  0
max for this col:  15
dtype after:  uint8
******************************
******************************
Column:  primary_use
dtype before:  int64
min for this col:  0
max for this col:  15
dtype after:  uint8
******************************
******************************
Column:  square_feet
dtype before:  int64
min for this col:  283
max for this col:  875000
dtype after:  uint32
******************************
******************************
Column:  floor_count
dtype before:  float64
min for this col:  1.0
max for this col:  26.0
dtype after:  uint8
******************************
******************************
Column:  air_temperature
dtype before:  float64
min for this col:  -28.9
max for this col:  47.2
dtype after:  float32
******************************
******************************
Column:  dew_temperature
dtype before:  float64
min for this col:  -35.0
max for this col:  26.1
dtype after:  float32
******************************
******************************
Column:  sea_level_pressure
dtype before:  float64
min for this col:  968.2
max for this col:  1045.5
dtype after:  float32
******************************
******************************
Column:  wind_direction
dtype before:  float64
min for this col:  0.0
max for this col:  360.0
dtype after:  uint16
******************************
******************************
Column:  wind_speed
dtype before:  float64
min for this col:  0.0
max for this col:  19.0
dtype after:  float32
******************************
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  925.4196166992188  MB
This is  42.857142857142854 % of the initial size

In [0]:
#convert timestamp to datetime for df_train
df_train['timestamp']=pd.to_datetime(df_train['timestamp'])
df_train['hour']=df_train['timestamp'].dt.hour
df_train['day']=df_train['timestamp'].dt.day
df_train['month']=df_train['timestamp'].dt.month
df_train['weekend']=df_train['timestamp'].dt.weekday
df_train['year']=df_train['timestamp'].dt.year

In [0]:
df_train=df_train.drop(columns='timestamp',axis=1)

In [0]:
#Replace missing value with -999
df_train=df_train.fillna(-999)

In [38]:
df_train.head()

   building_id  meter  meter_reading  site_id  ...  day  month  weekend  year
0            0      0            0.0        0  ...    1      1        4  2016
1            1      0            0.0        0  ...    1      1        4  2016
2            2      0            0.0        0  ...    1      1        4  2016
3            3      0            0.0        0  ...    1      1        4  2016
4            4      0            0.0        0  ...    1      1        4  2016

[5 rows x 17 columns]

In [0]:
#consider 50% of train data points randomly
#rain=df_train.sample(frac=0.5)

In [40]:
original_labels=np.log1p(df_train['meter_reading'])
target_labels=df_train['meter_reading']
target_labels.shape

(20216100,)

In [0]:
df_train=df_train.drop('meter_reading',axis=1)

In [42]:
#prepare test dataset
df_test=test_df.merge(building_metadata,on='building_id',how='left')
df_test=df_test.merge(weather_test,on=['site_id','timestamp'],how='left')
df_test.head()

   row_id  building_id  meter  ... sea_level_pressure  wind_direction wind_speed
0       0            0      0  ...             1021.4           100.0        3.6
1       1            1      0  ...             1021.4           100.0        3.6
2       2            2      0  ...             1021.4           100.0        3.6
3       3            3      0  ...             1021.4           100.0        3.6
4       4            4      0  ...             1021.4           100.0        3.6

[5 rows x 13 columns]

In [0]:
#df_test=df_test.fillna(-999)

In [44]:
df_test,NAlist=reduce_mem_usage(df_test)

Memory usage of properties dataframe is : 4453.7841796875  MB
******************************
Column:  row_id
dtype before:  int64
min for this col:  0
max for this col:  41697599
dtype after:  uint32
******************************
******************************
Column:  building_id
dtype before:  int64
min for this col:  0
max for this col:  1448
dtype after:  uint16
******************************
******************************
Column:  meter
dtype before:  int64
min for this col:  0
max for this col:  3
dtype after:  uint8
******************************
******************************
Column:  site_id
dtype before:  int64
min for this col:  0
max for this col:  15
dtype after:  uint8
******************************
******************************
Column:  square_feet
dtype before:  int64
min for this col:  283
max for this col:  875000
dtype after:  uint32
******************************
******************************
Column:  floor_count
dtype before:  float64
min for this col:  1.0
max for this col:  26.0
dtype after:  uint8
******************************
******************************
Column:  air_temperature
dtype before:  float64
min for this col:  -28.1
max for this col:  48.3
dtype after:  float32
******************************
******************************
Column:  dew_temperature
dtype before:  float64
min for this col:  -31.6
max for this col:  26.7
dtype after:  float32
******************************
******************************
Column:  sea_level_pressure
dtype before:  float64
min for this col:  972.0
max for this col:  1050.1
dtype after:  float32
******************************
******************************
Column:  wind_direction
dtype before:  float64
min for this col:  0.0
max for this col:  360.0
dtype after:  uint16
******************************
******************************
Column:  wind_speed
dtype before:  float64
min for this col:  0.0
max for this col:  24.2
dtype after:  float32
******************************
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  2187.1261596679688  MB
This is  49.107142857142854 % of the initial size

In [0]:
#transform object to categorical class
df_test['primary_use']=le.transform(df_test['primary_use'])

In [0]:
#convert timestamp to datetime for df_test
df_test['timestamp']=pd.to_datetime(df_test['timestamp'])
df_test['hour']=df_test['timestamp'].dt.hour
df_test['day']=df_test['timestamp'].dt.day
df_test['month']=df_test['timestamp'].dt.month
df_test['weekend']=df_test['timestamp'].dt.weekday
df_test['year']=df_test['timestamp'].dt.year

In [0]:
df_test=df_test.drop('timestamp',axis=1)

In [48]:
#create train & validation datasets
from sklearn.model_selection import train_test_split
X_train,X_val,y_train,y_val=train_test_split(df_train,target_labels,test_size=0.1,random_state=42)
print(X_train.shape,y_train.shape)
print(X_val.shape,y_val.shape)

(18194490, 16) (18194490,)
(2021610, 16) (2021610,)

In [0]:
#Build the lightgbm model
import lightgbm as lgb
import gc
train_data=lgb.Dataset(X_train,label=y_train)
validation_data=lgb.Dataset(X_val,label=y_val)

In [0]:
params={ 'obective':'regression',
         'num_leaves':125,
         'metric':'mae',
         'num_rounds':1000,
         'learning_rate':0.12,
         'min_data_per_leaf':20,
         'lamda_l2':0.01    
}

In [51]:
lgb_model=lgb.train(params,train_data,valid_sets=validation_data,early_stopping_rounds=100)

/usr/local/lib/python3.6/dist-packages/lightgbm/engine.py:118: UserWarning: Found `num_rounds` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

[1]	valid_0's l1: 3407.05
Training until validation scores don't improve for 100 rounds.
[2]	valid_0's l1: 3068.41
[3]	valid_0's l1: 2775.38
[4]	valid_0's l1: 2513.46
[5]	valid_0's l1: 2287.45
[6]	valid_0's l1: 2091.8
[7]	valid_0's l1: 1924.54
[8]	valid_0's l1: 1777.83
[9]	valid_0's l1: 1647.8
[10]	valid_0's l1: 1536.49
[11]	valid_0's l1: 1441.4
[12]	valid_0's l1: 1355.84
[13]	valid_0's l1: 1284.94
[14]	valid_0's l1: 1224.11
[15]	valid_0's l1: 1171.2
[16]	valid_0's l1: 1125.53
[17]	valid_0's l1: 1086.9
[18]	valid_0's l1: 1045.27
[19]	valid_0's l1: 1015.73
[20]	valid_0's l1: 991.846
[21]	valid_0's l1: 970.683
[22]	valid_0's l1: 939.482
[23]	valid_0's l1: 915.149
[24]	valid_0's l1: 893.481
[25]	valid_0's l1: 871.43
[26]	valid_0's l1: 850.994
[27]	valid_0's l1: 838.448
[28]	valid_0's l1: 821.844
[29]	valid_0's l1: 811.156
[30]	valid_0's l1: 796.142
[31]	valid_0's l1: 783.448
[32]	valid_0's l1: 769.676
[33]	valid_0's l1: 757.095
[34]	valid_0's l1: 746.845
[35]	valid_0's l1: 741.16
[36]	valid_0's l1: 733.739
[37]	valid_0's l1: 724.4
[38]	valid_0's l1: 717.381
[39]	valid_0's l1: 708.325
[40]	valid_0's l1: 704.097
[41]	valid_0's l1: 695.559
[42]	valid_0's l1: 690.915
[43]	valid_0's l1: 687.35
[44]	valid_0's l1: 677.148
[45]	valid_0's l1: 663.371
[46]	valid_0's l1: 660.614
[47]	valid_0's l1: 656.348
[48]	valid_0's l1: 651.025
[49]	valid_0's l1: 645.112
[50]	valid_0's l1: 640.592
[51]	valid_0's l1: 632.77
[52]	valid_0's l1: 625.515
[53]	valid_0's l1: 618.879
[54]	valid_0's l1: 615.225
[55]	valid_0's l1: 610.908
[56]	valid_0's l1: 605.086
[57]	valid_0's l1: 602.129
[58]	valid_0's l1: 596.919
[59]	valid_0's l1: 592.46
[60]	valid_0's l1: 589.018
[61]	valid_0's l1: 585.168
[62]	valid_0's l1: 585.681
[63]	valid_0's l1: 580.417
[64]	valid_0's l1: 575.066
[65]	valid_0's l1: 573.651
[66]	valid_0's l1: 574.378
[67]	valid_0's l1: 570.845
[68]	valid_0's l1: 569.902
[69]	valid_0's l1: 566.894
[70]	valid_0's l1: 563.505
[71]	valid_0's l1: 560.916
[72]	valid_0's l1: 560.266
[73]	valid_0's l1: 560.469
[74]	valid_0's l1: 559.744
[75]	valid_0's l1: 557.919
[76]	valid_0's l1: 554.622
[77]	valid_0's l1: 554.903
[78]	valid_0's l1: 553.657
[79]	valid_0's l1: 552.459
[80]	valid_0's l1: 549.164
[81]	valid_0's l1: 549.898
[82]	valid_0's l1: 550.272
[83]	valid_0's l1: 548.04
[84]	valid_0's l1: 545.783
[85]	valid_0's l1: 542.873
[86]	valid_0's l1: 541.023
[87]	valid_0's l1: 539.763
[88]	valid_0's l1: 539.938
[89]	valid_0's l1: 539.859
[90]	valid_0's l1: 538.293
[91]	valid_0's l1: 538.828
[92]	valid_0's l1: 537.722
[93]	valid_0's l1: 537.08
[94]	valid_0's l1: 535.174
[95]	valid_0's l1: 533.44
[96]	valid_0's l1: 531.518
[97]	valid_0's l1: 529.604
[98]	valid_0's l1: 530.045
[99]	valid_0's l1: 528.672
[100]	valid_0's l1: 527.125
[101]	valid_0's l1: 527.903
[102]	valid_0's l1: 524.867
[103]	valid_0's l1: 525.143
[104]	valid_0's l1: 522.055
[105]	valid_0's l1: 522.558
[106]	valid_0's l1: 520.661
[107]	valid_0's l1: 517.358
[108]	valid_0's l1: 516.173
[109]	valid_0's l1: 514.483
[110]	valid_0's l1: 514.273
[111]	valid_0's l1: 513.14
[112]	valid_0's l1: 513.301
[113]	valid_0's l1: 513.371
[114]	valid_0's l1: 511.767
[115]	valid_0's l1: 511.077
[116]	valid_0's l1: 509.99
[117]	valid_0's l1: 509.365
[118]	valid_0's l1: 509.267
[119]	valid_0's l1: 508.847
[120]	valid_0's l1: 508.382
[121]	valid_0's l1: 508.006
[122]	valid_0's l1: 505.742
[123]	valid_0's l1: 505.237
[124]	valid_0's l1: 505.578
[125]	valid_0's l1: 505.383
[126]	valid_0's l1: 505.323
[127]	valid_0's l1: 505.003
[128]	valid_0's l1: 503.833
[129]	valid_0's l1: 502.566
[130]	valid_0's l1: 501.893
[131]	valid_0's l1: 501.637
[132]	valid_0's l1: 501.932
[133]	valid_0's l1: 501.278
[134]	valid_0's l1: 500.183
[135]	valid_0's l1: 499.256
[136]	valid_0's l1: 498.483
[137]	valid_0's l1: 499.048
[138]	valid_0's l1: 498.827
[139]	valid_0's l1: 497.683
[140]	valid_0's l1: 496.742
[141]	valid_0's l1: 496.899
[142]	valid_0's l1: 496.329
[143]	valid_0's l1: 494.929
[144]	valid_0's l1: 495.322
[145]	valid_0's l1: 494.118
[146]	valid_0's l1: 493.328
[147]	valid_0's l1: 493.401
[148]	valid_0's l1: 492.977
[149]	valid_0's l1: 492.577
[150]	valid_0's l1: 491.977
[151]	valid_0's l1: 492.291
[152]	valid_0's l1: 492.436
[153]	valid_0's l1: 491.254
[154]	valid_0's l1: 491.395
[155]	valid_0's l1: 491.593
[156]	valid_0's l1: 491.924
[157]	valid_0's l1: 491.849
[158]	valid_0's l1: 492.212
[159]	valid_0's l1: 491.343
[160]	valid_0's l1: 490.015
[161]	valid_0's l1: 488.716
[162]	valid_0's l1: 488.471
[163]	valid_0's l1: 488.149
[164]	valid_0's l1: 486.601
[165]	valid_0's l1: 484.533
[166]	valid_0's l1: 484.268
[167]	valid_0's l1: 484.137
[168]	valid_0's l1: 482.334
[169]	valid_0's l1: 482.713
[170]	valid_0's l1: 482.782
[171]	valid_0's l1: 483.097
[172]	valid_0's l1: 482.869
[173]	valid_0's l1: 483.101
[174]	valid_0's l1: 483.339
[175]	valid_0's l1: 483.447
[176]	valid_0's l1: 482.19
[177]	valid_0's l1: 482.274
[178]	valid_0's l1: 481.536
[179]	valid_0's l1: 480.928
[180]	valid_0's l1: 481.217
[181]	valid_0's l1: 481.997
[182]	valid_0's l1: 481.971
[183]	valid_0's l1: 480.617
[184]	valid_0's l1: 480.13
[185]	valid_0's l1: 480.379
[186]	valid_0's l1: 479.982
[187]	valid_0's l1: 479.67
[188]	valid_0's l1: 479.204
[189]	valid_0's l1: 479.625
[190]	valid_0's l1: 478.696
[191]	valid_0's l1: 478.926
[192]	valid_0's l1: 478.516
[193]	valid_0's l1: 479.162
[194]	valid_0's l1: 479.312
[195]	valid_0's l1: 479.454
[196]	valid_0's l1: 479.98
[197]	valid_0's l1: 479.396
[198]	valid_0's l1: 479.814
[199]	valid_0's l1: 479.588
[200]	valid_0's l1: 479.218
[201]	valid_0's l1: 479.043
[202]	valid_0's l1: 479.204
[203]	valid_0's l1: 479.194
[204]	valid_0's l1: 478.594
[205]	valid_0's l1: 478.572
[206]	valid_0's l1: 478.636
[207]	valid_0's l1: 477.873
[208]	valid_0's l1: 477.843
[209]	valid_0's l1: 477.722
[210]	valid_0's l1: 477.303
[211]	valid_0's l1: 477.477
[212]	valid_0's l1: 477.482
[213]	valid_0's l1: 476.905
[214]	valid_0's l1: 477.175
[215]	valid_0's l1: 477.213
[216]	valid_0's l1: 476.928
[217]	valid_0's l1: 476.231
[218]	valid_0's l1: 476.461
[219]	valid_0's l1: 475.453
[220]	valid_0's l1: 475.751
[221]	valid_0's l1: 475.805
[222]	valid_0's l1: 475.895
[223]	valid_0's l1: 476.128
[224]	valid_0's l1: 476.189
[225]	valid_0's l1: 476.549
[226]	valid_0's l1: 476.575
[227]	valid_0's l1: 476.137
[228]	valid_0's l1: 476.616
[229]	valid_0's l1: 476.498
[230]	valid_0's l1: 475.597
[231]	valid_0's l1: 474.886
[232]	valid_0's l1: 474.962
[233]	valid_0's l1: 474.277
[234]	valid_0's l1: 474.643
[235]	valid_0's l1: 474.918
[236]	valid_0's l1: 475.302
[237]	valid_0's l1: 474.95
[238]	valid_0's l1: 474.644
[239]	valid_0's l1: 474.298
[240]	valid_0's l1: 473.792
[241]	valid_0's l1: 473.797
[242]	valid_0's l1: 473.932
[243]	valid_0's l1: 473.822
[244]	valid_0's l1: 473.522
[245]	valid_0's l1: 472.685
[246]	valid_0's l1: 472.811
[247]	valid_0's l1: 472.779
[248]	valid_0's l1: 472.724
[249]	valid_0's l1: 472.794
[250]	valid_0's l1: 472.931
[251]	valid_0's l1: 473.256
[252]	valid_0's l1: 473.105
[253]	valid_0's l1: 472.992
[254]	valid_0's l1: 472.848
[255]	valid_0's l1: 472.71
[256]	valid_0's l1: 472.919
[257]	valid_0's l1: 472.999
[258]	valid_0's l1: 473.014
[259]	valid_0's l1: 472.661
[260]	valid_0's l1: 471.898
[261]	valid_0's l1: 471.263
[262]	valid_0's l1: 471.086
[263]	valid_0's l1: 471.184
[264]	valid_0's l1: 471.176
[265]	valid_0's l1: 471.332
[266]	valid_0's l1: 471.33
[267]	valid_0's l1: 471.427
[268]	valid_0's l1: 471.712
[269]	valid_0's l1: 472.107
[270]	valid_0's l1: 471.951
[271]	valid_0's l1: 472.361
[272]	valid_0's l1: 472.177
[273]	valid_0's l1: 472.53
[274]	valid_0's l1: 472.465
[275]	valid_0's l1: 472.456
[276]	valid_0's l1: 472.317
[277]	valid_0's l1: 472.432
[278]	valid_0's l1: 472.381
[279]	valid_0's l1: 472.098
[280]	valid_0's l1: 471.852
[281]	valid_0's l1: 471.283
[282]	valid_0's l1: 471.181
[283]	valid_0's l1: 471.161
[284]	valid_0's l1: 470.916
[285]	valid_0's l1: 470.517
[286]	valid_0's l1: 470.246
[287]	valid_0's l1: 470.462
[288]	valid_0's l1: 470.309
[289]	valid_0's l1: 470.304
[290]	valid_0's l1: 470.497
[291]	valid_0's l1: 470.182
[292]	valid_0's l1: 470.278
[293]	valid_0's l1: 470.091
[294]	valid_0's l1: 469.868
[295]	valid_0's l1: 469.393
[296]	valid_0's l1: 469.023
[297]	valid_0's l1: 468.989
[298]	valid_0's l1: 468.785
[299]	valid_0's l1: 468.633
[300]	valid_0's l1: 468.394
[301]	valid_0's l1: 467.84
[302]	valid_0's l1: 467.965
[303]	valid_0's l1: 468.15
[304]	valid_0's l1: 468.232
[305]	valid_0's l1: 468.105
[306]	valid_0's l1: 468.101
[307]	valid_0's l1: 468.018
[308]	valid_0's l1: 468.37
[309]	valid_0's l1: 467.935
[310]	valid_0's l1: 468.292
[311]	valid_0's l1: 468.494
[312]	valid_0's l1: 468.857
[313]	valid_0's l1: 468.819
[314]	valid_0's l1: 468.75
[315]	valid_0's l1: 468.272
[316]	valid_0's l1: 467.94
[317]	valid_0's l1: 467.973
[318]	valid_0's l1: 467.808
[319]	valid_0's l1: 468.021
[320]	valid_0's l1: 468.113
[321]	valid_0's l1: 467.982
[322]	valid_0's l1: 467.451
[323]	valid_0's l1: 467.254
[324]	valid_0's l1: 467.104
[325]	valid_0's l1: 466.694
[326]	valid_0's l1: 466.934
[327]	valid_0's l1: 467.235
[328]	valid_0's l1: 467.136
[329]	valid_0's l1: 467.068
[330]	valid_0's l1: 467.266
[331]	valid_0's l1: 467.151
[332]	valid_0's l1: 467.215
[333]	valid_0's l1: 467.263
[334]	valid_0's l1: 467.018
[335]	valid_0's l1: 467.112
[336]	valid_0's l1: 466.952
[337]	valid_0's l1: 467.17
[338]	valid_0's l1: 467.235
[339]	valid_0's l1: 467.314
[340]	valid_0's l1: 467.421
[341]	valid_0's l1: 467.362
[342]	valid_0's l1: 467.302
[343]	valid_0's l1: 467.016
[344]	valid_0's l1: 467.212
[345]	valid_0's l1: 467.322
[346]	valid_0's l1: 467.178
[347]	valid_0's l1: 467.126
[348]	valid_0's l1: 467.717
[349]	valid_0's l1: 467.638
[350]	valid_0's l1: 467.701
[351]	valid_0's l1: 467.518
[352]	valid_0's l1: 467.704
[353]	valid_0's l1: 467.678
[354]	valid_0's l1: 467.764
[355]	valid_0's l1: 467.726
[356]	valid_0's l1: 467.835
[357]	valid_0's l1: 467.559
[358]	valid_0's l1: 467.468
[359]	valid_0's l1: 467.637
[360]	valid_0's l1: 467.562
[361]	valid_0's l1: 467.444
[362]	valid_0's l1: 468.023
[363]	valid_0's l1: 468.009
[364]	valid_0's l1: 468.015
[365]	valid_0's l1: 468.011
[366]	valid_0's l1: 467.9
[367]	valid_0's l1: 468.28
[368]	valid_0's l1: 468.523
[369]	valid_0's l1: 468.405
[370]	valid_0's l1: 468.974
[371]	valid_0's l1: 469.002
[372]	valid_0's l1: 468.801
[373]	valid_0's l1: 468.732
[374]	valid_0's l1: 468.862
[375]	valid_0's l1: 468.741
[376]	valid_0's l1: 468.877
[377]	valid_0's l1: 469.137
[378]	valid_0's l1: 469.067
[379]	valid_0's l1: 469.199
[380]	valid_0's l1: 468.987
[381]	valid_0's l1: 468.987
[382]	valid_0's l1: 468.854
[383]	valid_0's l1: 469.082
[384]	valid_0's l1: 468.797
[385]	valid_0's l1: 468.602
[386]	valid_0's l1: 468.561
[387]	valid_0's l1: 468.5
[388]	valid_0's l1: 468.471
[389]	valid_0's l1: 468.779
[390]	valid_0's l1: 468.619
[391]	valid_0's l1: 468.448
[392]	valid_0's l1: 468.147
[393]	valid_0's l1: 468.524
[394]	valid_0's l1: 468.567
[395]	valid_0's l1: 468.52
[396]	valid_0's l1: 468.495
[397]	valid_0's l1: 468.556
[398]	valid_0's l1: 468.405
[399]	valid_0's l1: 468.43
[400]	valid_0's l1: 468.319
[401]	valid_0's l1: 468.228
[402]	valid_0's l1: 468.305
[403]	valid_0's l1: 468.277
[404]	valid_0's l1: 468.368
[405]	valid_0's l1: 468.198
[406]	valid_0's l1: 468.065
[407]	valid_0's l1: 468.051
[408]	valid_0's l1: 467.896
[409]	valid_0's l1: 467.854
[410]	valid_0's l1: 467.801
[411]	valid_0's l1: 467.841
[412]	valid_0's l1: 467.415
[413]	valid_0's l1: 467.487
[414]	valid_0's l1: 467.412
[415]	valid_0's l1: 467.376
[416]	valid_0's l1: 467.312
[417]	valid_0's l1: 467.414
[418]	valid_0's l1: 467.313
[419]	valid_0's l1: 467.681
[420]	valid_0's l1: 467.557
[421]	valid_0's l1: 467.425
[422]	valid_0's l1: 467.405
[423]	valid_0's l1: 467.343
[424]	valid_0's l1: 467.283
[425]	valid_0's l1: 467.559
Early stopping, best iteration is:
[325]	valid_0's l1: 466.694

In [52]:
lgb_model.save_model('lgb_model.txt')

In [0]:
lgb_json=lgb_model.dump_model()

In [0]:
y_predict=lgb_model.predict(df_test)

In [55]:
lgb=pd.read_csv('sample_submission.csv')
lgb.head()

   row_id  meter_reading
0       0              0
1       1              0
2       2              0
3       3              0
4       4              0

In [0]:
lgb['meter_reading']=y_predict

In [57]:
lgb,NAlist=reduce_mem_usage(lgb)

Memory usage of properties dataframe is : 636.2550048828125  MB
******************************
Column:  row_id
dtype before:  int64
min for this col:  0
max for this col:  41697599
dtype after:  uint32
******************************
******************************
Column:  meter_reading
dtype before:  float64
min for this col:  -526.3532351150725
max for this col:  53982.07161826538
dtype after:  float32
******************************
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  318.1275634765625  MB
This is  50.00000959287641 % of the initial size

In [58]:
lgb.head()

   row_id  meter_reading
0       0    -329.645721
1       1    1378.805908
2       2    1680.924805
3       3     787.752991
4       4     787.752991

In [0]:
lgb.to_csv('lgb_submission_2.csv',index=False)

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
cp lgb_submission_2.csv '/content/drive/My Drive/Colab Notebooks'